  <section class="dashboard-header">

  <h2 class="title">Find Your Fluffy Friend</h2>

    <form action="/search" method="GET" class="ui form">

    <div class="ui inline fields">
      <div class="field">
        <input id="search" type="text" name="searchTerm" placeholder="Search by title..." value="{{searched}}">
      </div>   

      <div class="field">
        <label>Sort by:</label>
        <select id="sort" class="ui dropdown" name="sort" onchange="this.form.submit()">
          <option value="name" {{#if nameSelected}}selected{{/if}}>Name</option>
          <option value="rating" {{#if ratingSelected}}selected{{/if}}>Rating</option>
        </select>         
      </div>

      <div class="field">
        <label>Order:</label>
        <select id="order" class="ui dropdown" name="order" onchange="this.form.submit()">
          <option value="asc" {{#if ascSelected}}selected{{/if}}>↑</option>
          <option value="desc" {{#if descSelected}}selected{{/if}}>↓</option>
        </select>
      </div>
      </div>
    </form>
  </section>

    <div class="ui three stackable cards">
  {{#each shelter}}
    <div class="ui card">
      <div class="image">
        <a href="/dogs/{{id}}">
        <img class="ui fluid image" src="{{cImage}}" alt="{{cName}}" style="max-height:15em;">
        </a>
      </div>

      <div class="content">
        <div class="header"><a href="/dogs/{{id}}">{{cName}}</a></div>

        <div class="meta">
          {{cRating}}<br>
          {{cLocation}}<br>
          {{cPhone}}
        </div>

        <div class="extra content" style="padding-top: 1em;">
          <a href="/dashboard/deleteshelter/{{id}}" style="display: flex; justify-content: flex-end;"><i class="ui red trash icon"></i></a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
