  
    <h2>Find Your Fluffy Friend</h2>
      <input id="search" type="text" placeholder="Search" style="margin: 0px 0px 30px 30px;">

    <div class="ui three stackable cards">
  {{#each shelter}}
    <div class="ui card">
      <div class="image">
        <a href="/dogs/{{id}}">
        <img class="ui fluid image" src="{{cImage}}" alt="{{cName}}" style="max-height:15em;">
        </a>
      </div>

      <div class="content">
        <div class="header"><a href="/dogs/{{id}}">{{cName}}</a></div>

        <div class="meta">
          {{cRating}}<br>
          {{cLocation}}<br>
          {{cPhone}}
        </div>

        <div class="extra content" style="padding-top: 1em;">
          <a href="/dashboard/deleteshelter/{{id}}" style="display: flex; justify-content: flex-end;"><i class="ui red trash icon"></i></a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
