{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2 style="text-align:center;">About My Pet App</h2>
    <div class="ui grid stackable middle aligned">
  <div class="row">
    <div class="ten wide column">
      <p>
        <em>Our goal with this platform is to help you find your next furry friend.</em>
        We aim to connect you with trusted kennels, shelters, and responsible breeders near you,
        making the process easier, safer and quicker.<br>
        Whether you're looking for a playful puppy, a calm older dog, or a rescue that needs
        a second chance, we're here to help you discover the right match.
        <strong>Everything for our little friends!</strong>
      </p>
    </div>

    <div class="six wide column">
      <img class="ui fluid image" src="/happy dog.jpg" alt="happy happy happy dog" style="border-radius:20px;">
    </div>
  </div>
</div>



      <h2 style="text-align:center;">Get to Know Us</h2>
      <p style="text-align:center;">{{info.message}}</p>
    <div class="ui grid stackable middle aligned">
  <div class="row">
    <div class="eight wide column">
      {{#each info.creators}}
      <div class="ui grid stackable middle aligned segment">
        <div class="ui six wide column">
        <img class="ui fluid image" src="{{img}}" style="border-radius:20px;">
        </div>
      <div class="ui ten wide column segment">
        <p>
        <strong>{{name}}</strong><br>
          Role: <em>{{role}}</em><br>
          Location: <em>{{location}}</em>
        </p>
      </div>
      </div>
      {{/each}}
    </div>
    <div class="eight wide column">
      <iframe class="ui fluid image" style="height:500px;" src="https://www.google.com/maps?q=52.2583,-7.1119&hl=en&z=14&output=embed"></iframe>
    </div>
  </div>
</div>

</section>