{{> menu id="dashboard"}}

<!-- I'm thinking of taking inspiration from a previous project -->
<section class="ui left aligned middle aligned segment">
  
    <h2>Find Your Fluffy Friend</h2>
        <!-- I have to make it work with FindAll function -->
      <input type="text" placeholder="Search" style="margin: 0px 0px 30px 30px;">

    <!-- Plenty of animal cards/"posts" -->
    <div class="ui three stackable cards">
  {{#each pet}}
    <div class="ui card">
      <div class="image">
        <img class="ui fluid image" src="{{image}}" alt="{{name}}">
      </div>

      <div class="content">
        <div class="header">{{name}}</div>
        <div class="description">{{description}}</div>

        <div class="meta">
          {{gender}}, {{age}}, {{breed}}<br>
          {{company.cName}}, {{company.cRating}}<br>
          {{company.cLocation}}<br>
          {{company.cPhone}}
        </div>
      </div>

      <div class="extra content">
        Posted in {{posted}}
      </div>
    </div>
  {{/each}}
</div>

</section>

{{> footer}}