{{> menu id="dashboard"}}

<!-- I'm thinking of taking inspiration from a previous project -->
<section class="ui left aligned middle aligned segment">
  
    <h2>Find Your Fluffy Friend</h2>
        <!-- I have to make it work with FindAll function -->
      <input type="text" placeholder="Search" style="margin-left: 30px;">

    <!-- Plenty of animal posts -->
    <div class="ui centered card">
        <div class="image">
            <img src="{{pet.image}}">
        </div>
        <div class="content">
            <a class="header">{{pet.name}}</a>
            <div class="description">
            {{pet.description}}
            </div>
            <!-- I might reorder this later -->
            <div class="meta" style="margin-top:2px; font-style:italic">
                {{pet.gender}}, {{pet.age}}, {{pet.breed}}<br>
                {{pet.company.cName}}, {{pet.company.cRating}}<br>
                {{pet.company.cLocation}}<br>
                {{pet.company.cPhone}}
            </div>
        </div>
        <div class="extra content">
            <span>
                Posted in {{pet.posted}}
            </span>
        </div>
    </div>
</section>