{{> menu id="stats"}}

<section class="ui center aligned middle aligned segment">

  <h2>Playlist App Statistics</h2>

  <h3 class="ui header">
    App Statistics
  </h3>
  <p>
    The playlist app now contains: 
  </p>
  {{#with stats}}
    <div class="ui center aligned grid">
    
      <div class = "ui sixteen wide column">
      
        <div class="ui centered three statistics">
          <div class="ui statistic">
            <div class="value">
              <i class="paw icon"></i> 
            </div>
            <div class="label">
              {{displayNumShelter}} Shelters
            </div>
          </div>

          <div class="ui red statistic">
            <div class="value">
              <i class="dog icon"></i> 
            </div>
            <div class="label">
              {{displayNumPets}} Pets
            </div>
          </div> 
		  
          <div class="ui blue statistic">
            <div class="value">
              <i class="bone icon"></i> 
            </div>
            <div class="label">
              Average number of pets <br> per playlist: {{displayAverage}}
            </div>
          </div>    
        </div> 
      </div>

      <div class="ui sixteen wide column">
        <div class="ui centered two statistics">
          <div class="ui yellow statistic">
            <div class="value">
              <i class="star icon"></i>
            </div>
            <div class="label">
              Highest Rated shelter: {{highest}} stars<br>
              "{{displayFav}}"
            </div>
          </div>

          <div class="ui yellow statistic">
            <div class="value">
              <i class="star outline icon"></i>
            </div>
            <div class="label">
              Average Rating: {{displayAvgRating}}
            </div>
          </div>
        </div>
      </div>

    </div>   
  {{/with}}
</section>